.form__wrapper {
  width:528px;
  background:#FFFFFF;
  border-radius:16px;
}
.form__title {
  font-weight:700;
  font-size:2.4rem;
  color:#363636;
  line-height:30px;
  margin-bottom:32px;
}
.form__container {
  padding:32px 56px 48px;
}
.form__container_link {
  background:#F9F9FA;
  border-radius:16px 16px 0 0;
  padding:23px 0 23px 19px;
  font-weight:600;
  font-size:1.2rem;
  display:flex;
  align-items:center;
  text-transform:uppercase;
  color:#727272;
  gap:16px;
}
@media screen and (max-width:600px) {
  .form__wrapper {
    width:288px;
  }
  .form__container {
    padding:32px 16px 51px;
  }
  .form__title {
    margin-bottom:20px;
  }
}
